

<ul>{{#if name}}
    <li>
        <a href="/signout">Выход</a>
    </li>
    {{else}}
    <li>
        <a href="/signin">Войти</a>
    </li>
    <li>
        <a href="/signup">Зарегистрироваться</a>
    </li>
     {{/if}}
</ul>