<form name="signupForm" method="POST" action="/signup">
<div>
<input type="text" required name="name" placeholder="Ваше имя" >
<input type="email" required name="email" placeholder="адрес электронной почты">
<input type="password" required name="password" placeholder="пароль">
<button class="btn btn-info">Зарегистрироваться</button>
</div>

</form>