<form name="signinForm" method="POST" action="/signin">
<div> 
<input type="email" required name="email" placeholder="введите адрес электронной почты">
<input type="password" required name="password" placeholder="введите пароль">
<button class="btn btn-info">Войти</buttonbtn></div>


</form>